/* Base */
body {
  background:#ddd;
  color:#444;
  font:14px 'Poly', georgia, "微软雅黑", serif;
  line-height:1.5;
  font-weight: lighter;
  width: 800px;
  margin: 0 auto;
}

div.breaker { clear:both; }
.template { display:none; }

p, ul, ol, pre, blockquote, hr, object { margin: 1em 0; }
pre, code, tt {
  font-family: 'Consolas', "微软雅黑", monospace;
  font-weight:300;
  font-size: 12px;
}
img { border:none; vertical-align:bottom; }
strong { font-weight:bold; }
hr { height:1px; border:none; background-color:#ddd; }

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, "微软雅黑", sans-serif;
  font-weight:normal;
  color: #040404;
  margin-bottom: 1em;
}

a { text-decoration:none; }
a:link, a:active { color:#316d96; }
a:visited { color:#7e5494; }
a:link:hover, a:active:hover, a:visited:hover { text-decoration:underline; }
a:link:hover, a:active:hover { color:#006be4; }
a:visited:hover { color:#af00cf; }
a.img { border:none; background:transparent !important; }

/* Headlines */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h1 > a:hover,
    h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color:inherit !important;
  background-color:transparent !important;
}

/* header */
header {
  display: block;
  height: 100px;
  margin:0 60px 0 50px;
  color: #ccc;
}
  header h1 {
    display: block;
    height: 50px;
    margin:30px 0 0 0;
    float: left;
  }
    header h1 a {
      display:inline-block;
    }
    header h1 a:hover {
      cursor:pointer;
    }
    header h1 img { display:block; float:left; }

  header ul.navigation {
    display:block;
    text-align: left;
    float: right;
    line-height: 50px;
    margin-top: 35px;
    font-family: helvetica, "微软雅黑", sans-serif;
  }
  header ul.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
  }
  header ul.navigation li:first-child { margin-left: 0; }
  header ul.navigation li a {
    color: #888;
    text-decoration: none;
    font-size: 15px;
  }
  header ul.navigation li a:hover { color: black; text-decoration: none; }
  header ul.navigation li a.active { font-weight:bold; color:black; }

/* main */
#main { margin-bottom: 3em; }

/* --------------------------------------------------------------------------------------------- */
/* main content */
div.content {
  background:white;
  padding:40px 60px;
  margin-bottom: 60px;
}

div.content.full-bleed {
  padding:0;
}
div.content.photo {
  padding: 0;
  margin: 0;
}
  div.content:not(.sub) h1:first-child {
    margin-top:0;
  }
  
  div.content img, div.content iframe { display:block; max-width:100%; margin:1em 0; }
  div.content iframe { border:none; }
  div.content *[align=right] { margin:0 0 1em 1em; }
  div.content *[align=left] { margin:0 1em 1em 0; }

  /*div.post strong { font-weight:inherit; background:#FBF4B1; }*/
  div.content li { margin-left: 0; margin-bottom:0.3em; }
  div.content ul > li { margin-left: 0; }
  
  div.content blockquote {
    font-style:italic;
    line-height:1.618;
    background:transparent url(../images/quotation-mark.png) no-repeat scroll 25px 1.4em;
    padding:0.1em 1em 0.1em 60px;
    margin:1.618em 0 1.618em -60px;
    color: #666055;
  }
  div.content div.quotation blockquote { margin-left:-30px; }
  div.content pre {
      background-color: #f3f2f1;
      border: 1px solid #d0d2d4;
      border-radius: 3px;
      padding:10px;
      width: calc(100% - 20px);
  }
  div.content code {
      color: #222222;
  }
  div.content pre > code {
    background-color:transparent;
  }
  div.content *:target { background:#fe0; }
  div.content sup:target a { padding:2px 5px; }
  div.content div.footnotes li { color:#999; }
  div.content div.footnotes li:target { background:#ffc; color:inherit; }

div.content.sub {
  margin-top:-50px;
  padding-top:20px;
}

/* --------------------------------------------------------------------------------------------- */
/* intro on first page */

div.content.intro {
  padding: 40px;
}

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.posts div.end {
  padding:40px;
  text-align:center;
}

/* --------------------------------------------------------------------------------------------- */
/* post excerpt */
/* Wrapped in a div.content.full-bleed */

a.post-excerpt {
  display: block;
  color: inherit;
  border-bottom: 4px solid #ddd;
}
  a.post-excerpt div.padded-content {
    display: block;
    padding: 40px;
  }
  a.post-excerpt div.grid-mask { display:none; }
  a.post-excerpt.photo {
    height:320px;
  }
    /*a.post-excerpt.photo div.padded-content {
      display: -webkit-box; display: -moz-box; display: box;
      -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
      -webkit-box-pack: end; -moz-box-pack: end; box-pack: end;
    }*/
    a.post-excerpt.photo div.title {
      padding:10px 40px;
      font-size: 125%;
      font-weight: 100;
      color: white;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      left:0; right:0; bottom:0;
      z-index:2;
    }
    a.post-excerpt.photo div.padded-content {
      padding:0;
      width:100%;
      height:100%;
      background: transparent no-repeat center center scroll;
      position: relative;
    }
    a.post-excerpt.photo div.padded-content div.image {
      position: absolute;
      left:0; top:0; right:0; bottom:0;
      z-index:1;
      background-size: 400px 320px;
    }
    a.post-excerpt.photo:hover div.padded-content {
      opacity: 1;
    }
    a.post-excerpt.photo:hover div.padded-content div.image {
      opacity:0.5;
    }

  @media screen and (min-width: 680px) {
    a.post-excerpt {
      position:relative;
      display: block;
      width:50%; /* 680/2 */
      /*height:180px;*/
      overflow-y: hidden;
      float:left;
      border:none;
      margin-bottom:10px;
      /*background:#eee;*/
      /*-webkit-transform: translate3d(0,0,0);*/
    }
    a.post-excerpt.photo {
      /*height:340px;*/
    }
      a.post-excerpt.photo div.padded-content {
        padding:0;
        width:100%;
        height:100%;
        background: transparent no-repeat center center scroll;
        background-size: 400px 320px;
      }
      a.post-excerpt.photo:hover div.padded-content {
        opacity:0.9;
      }
  }

  a.post-excerpt:hover {
    color:white;
    background:#444;
    text-decoration:none;
  }

  a.post-excerpt div.title {
    font-weight: bold;
  }

  a.post-excerpt .info{
    display:inline-block;
    padding-right:8px;
    color:#999;
    font-style:italic;
  }

/* --------------------------------------------------------------------------------------------- */
/* photo post */

div.content.photo-post {
  padding-top: 60px;
}
  div.content.photo-post p:first-child, div.content.photo-post img:first-child {
    padding-top:0;
    margin-top:0;
  }
  div.content.photo-post p, div.content.photo-post iframe {
    padding: 40px 0 0 0;
    margin:0;
  }

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.post {
  padding-bottom: 0;
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }
  
  div.post .actions, div.post .info {
    color: #ccc;
  }
  
  div.post .actions {
    display:inline-block;
    float:right;
  }
  
  div.post .info {
    display:inline-block;
    border:1px solid rgba(0,0,0,0.05);
    border-left:none; border-right:none;
    padding:8px 0 8px 60px;
    margin-left:-60px;
    margin-bottom:3em;
  }
  div.post.photo .info {
    margin:0;
    padding:0;
    border:0;
    display:block;
  }
  
  div.post .info.after {
    margin-top:30px;
    margin-right:-60px;
    margin-bottom:0;
    padding-top:25px;
    padding-right:60px;
    padding-bottom:25px;
    opacity:0.6;
    border-color:rgba(0,0,0,0.08);
    border-bottom:none;
  }
  div.post .info.after:hover {
    opacity:1;
  }

  div.post iframe[width="640"] {

  }


/* prettyprint */
pre { color:black; }
pre .str { color: #080; }
pre .kwd { color: #000; font-weight: 500; }
pre .com { color: #999; font-style: italic; }
pre .typ { color: #349; }
pre .lit { color: #066; }
pre .pun, div.post pre .opn, div.post pre .clo { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }

/* meta */
div.meta { margin:1em 0; }
  div.meta p, div.meta .item { margin:0; }
  div.meta .item, div.meta .tag {
    background-repeat:no-repeat;
    background-position:0 0.36em;
    padding-left:15px;
    color:black;
    opacity:0.4;
    display:block;
    float:left;
    margin-left:2em;
  }
  div.meta .item:hover { opacity:1.0; }
  div.meta .item:first-child { margin-left:0; }
  div.meta .item a, div.meta a.item, div.meta .item a:hover,
      div.meta a.item:hover {
    color:inherit;
  }
  div.meta .item.reblogged {
    background-image:
        url(http://static.tumblr.com/9njdies/592l8jd17/reblogged.png);
  }
  div.meta .item.tags { padding-left:0; }
    div.meta .tag {
      margin-left:1em;
      margin-right:0;
      opacity:1.0;
      background-image:
          url(http://static.tumblr.com/9njdies/YO7l8jd2b/tag.png);
    }
    div.meta .tag:first-child { margin-left:0; }
  div.meta .item.time {
    background-image:
        url(http://static.tumblr.com/9njdies/zkFl8jd2w/time.png);
    float:right;
  }
  div.meta .item.note-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/ykvl8nmzz/note-count.png);
  }
  div.meta .item.dsq-comment-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/dbPl8uqid/comment-count.png);
    display:none;
  }

footer {
  color:#999;
  display: block;
  margin:0;
  padding:0 0 1em 0;
  text-align: center;
}
  footer img.cc {
    display: inline-block;
    vertical-align: -0.2em;
    border: none;
    width:1em;
    height:1em;
    opacity:0.4;
  }
  footer a.cc:hover {
    text-decoration: none;
  }
  footer a.cc:hover img.cc {
    opacity:1;
  }
  footer a:link {
    color:#778;
  }

/* device specifics */

/* medium-res devices (e.g. ipad and iphone) */
@media only screen and (max-device-width: 1024px) {
  /* To constrain pre-formatted text to body width */
  body { color:black; }
  html.ios pre { overflow:scroll; }
  html.ios pre, html.ios code, html.ios tt { font-size:0.95em; }
  header { margin:0 60px 0 45px; }
  header ul.navigation li a { font:inherit; font-size:14px; }
  div.content { font-size:1.2em; }
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
  header {
    height: 120px;
    margin:0 1em 0 0.8em;
  }
    header h1 { float:none; }
    header ul.navigation {
      float:none;
      padding-left:0.1em;
      margin-top: 5px;
    }
  
  h1,h2 { font-size: 160%; }
  h3 { font-size: 130%; }
  h4 { font-size: 115%; }
  h5, h6 { font-size: 110%; }

  pre, code, tt { font-size:11px; }
  
  div.content { padding:3em 1em; font-size:1.1em; }
  div.content blockquote { padding-left:2.5em; margin-left:-1em; }
  div.content div.quotation blockquote { margin-left:0px; }
  div.content:not(.sub) h1:first-child { font-size:210%; }
  div.content pre {
    margin: 0 -1em;
    padding:1em;
    background-color: #eee;
    border-left: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
