body {
    background-color: #333;
    width: 1215px;
    height: 610px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

div.lang_background{
    font: 26px bold;
    font-family: "Segoe UI", "微软雅黑", sans-serif;
    color: white;
    text-shadow:3px 3px 4px #333;
    height: 50px;
    width: 360px;
    padding: 275px 120px;
    float: left;
    border: 5px solid #777;
    cursor: pointer;
}

a:link { text-decoration: none; color: white}
a:active { text-decoration: none; color: white}
a:hover { text-decoration: none; color: white}
a:visited { text-decoration: none; color: white}


#english{
    background-image: url("/res/images/english_background.jpg");
    opacity: 0.5;
}

    #english:hover {
        opacity: 0.85;
    }

    #english:active {
        opacity: 1.0;
    }

#chinese{
    border-left: none;
    background-image: url("/res/images/chinese_background.jpg");
    opacity: 0.5;
}

    #chinese:hover {
        opacity: 0.85;
    }

    #chinese:active {
        opacity: 1.0;
    }

