#jekyll & grunt build
_site
release
_includes/head.html
pages/1_articles.html

#temporary files produced by grunt
.tmp

#PhpStorm configure files
.idea

#npm
node_modules

#react cache
build/.module-cache
