#jekyll build
_site
_includes

#grunt
node_modules

#temporary files produced by grunt
_tmp

#PhpStorm configure files
.idea

#source files
assets/css
pages/articles.js
pages/1_articles.md

#react
build/.module-cache

#bundle
vendor
