---
layout: default
sidePart: false
---

<div class="home">
  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post.release %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p class="post-date">Posted on {{ post.date | date: "%b %-d, %Y" }} ;
            浏览量: <span data-hk-page="{{ post.url | prepend: site.url }}"> - </span>次
        	{% for label in post.labels %}
        	<a href="{{ site.baseurl }}/all-articles/?label={{ label }}"><span class="post-label">{{ label }}</span></a>
        	{% endfor %}
        </p>
        <p class="post-description">{{ post.description }} <a class="post-link2" href="{{ post.url | prepend: site.baseurl }}">[继续阅读...]</a></p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="parallelogram" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <div>&laquo; Prev</div>
    </a>
    {% else %}
    <div class="parallelogram"><div>&laquo; Prev</div></div>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <div class="parallelogram current"><div>{{ page }}</div></div>
      {% elsif page == 1 %}
      <a class="parallelogram" href="/">
        <div>{{ page }}</div>
      </a>
      {% else %}
      <a class="parallelogram" href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
        <div>{{ page }}</div>
      </a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="parallelogram" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <div>Next &raquo;</div>
    </a>
    {% else %}
    <div class="parallelogram"><div>Next &raquo;</div></div>
    {% endif %}
  </div>
  {% endif %}
</div>