---
layout: default
---
<div class="posts">
  <div class="content full-bleed" id="recent-posts">
  {% for post in site.posts limit:25 %}
    <a href="{% if site.lang == "zh" %}/zh{% endif %}{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
        <div class="title">{{ post.title }}</div>
      {% if post.photo_url %}
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
      {% else %}
        <!-- <div class="title">{{ post.title }}</div> -->
        <span class="info" datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </span>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
      </div>
    </a>
  {% endfor %}
    <div class="breaker"></div>
    <div class="end">
      <a href="{% if site.lang == "zh" %}/zh{% endif %}/archive/">{% t home.more %}</a>
    </div>
  </div>
</div>
<script src="/res/js/resize-grid.js"></script>