<footer class="site-footer">
    <div class="wrap">
        <ul class="friend-links footer-text">
            <li><a href="//xidui.github.io/">xidui</a></li>
            <li><a href="//zhangwenli.com/">Ovilia</a></li>
            <li><a href="//szhshp.org">szhshp</a></li>
            <li><a href="//www.dozer.cc/">Dozer</a></li>
            <li><a href="//dianying.taobao.com">淘票票</a></li>
            <li><a href="//leetcode.cn">力扣</a></li>
            <li><a href="//toolant.com">ToolAnt</a></li>
            <li><a href="//kalasearch.cn">卡拉搜索</a></li>
        </ul>
        <p class="footer-text">
            本站总计访问量：<span data-hk-site>-</span>，<a href="https://beian.miit.gov.cn" target="_blank">沪ICP备2022013634号-1</a>
        </p>
    </div>
</footer>
