<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">首页</a>
        {% for page in site.pages %}
          {% if page.nav %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
  <!-- fork me on github -->
  <a href="https://github.com/zry656565/heaven-blog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ site.static_url }}/forkme.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</header>
