<script src="/res/js/d3.v3.js"></script>

<script>

    var width = 450,
            height = 450,
            radius = Math.min(width, height) / 2,
            spacing = .09;

    var formatSecond = d3.time.format("%S s"),
            formatMinute = d3.time.format("%M m"),
            formatHour = d3.time.format("%H h"),
            formatDay = d3.time.format("%a"),
            formatDate = d3.time.format("%d d"),
            formatMonth = d3.time.format("%b");

    var color = d3.scale.linear()
            .range(["hsl(-180,50%,50%)", "hsl(180,50%,50%)"])
            .interpolate(interpolateHsl);

    var arc = d3.svg.arc()
            .startAngle(0)
            .endAngle(function(d) { return d.value * 2 * Math.PI; })
            .innerRadius(function(d) { return d.index * radius; })
            .outerRadius(function(d) { return (d.index + spacing) * radius; });

    var svg = d3.select("#clock")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var field = svg.selectAll("g")
            .data(fields)
            .enter().append("g");

    field.append("path");

    field.append("text");

    d3.transition().duration(0).each(tick);

    d3.select(self.frameElement).style("height", height + "px");

    function tick() {
        field = field
                .each(function(d) { this._value = d.value; })
                .data(fields)
                .each(function(d) { d.previousValue = this._value; });

        field.select("path")
                .transition()
                .ease("elastic")
                .attrTween("d", arcTween)
                .style("fill", function(d) { return color(d.value); });

        field.select("text")
                .attr("dy", function(d) { return d.value < .5 ? "-.5em" : "1em"; })
                .text(function(d) { return d.text; })
                .transition()
                .ease("elastic")
                .attr("transform", function(d) {
                    return "rotate(" + 360 * d.value + ")"
                            + "translate(0," + -(d.index + spacing / 2) * radius + ")"
                            + "rotate(" + (d.value < .5 ? -90 : 90) + ")"
                });

        var diff = new Date((new Date()) - (new Date(2010,7,16)));
        console.log(diff.getDay());
        {% if site.lang == "en" %}
        $('#dyn_time').html("<big><b>" + (diff.getFullYear() - 1970) + "</b></big> Years &nbsp;"
                           + "<big><b>" + (diff.getMonth()+1) + "</b></big> Months &nbsp;"
                           + "<big><b>" + diff.getDate() + "</b></big> Days <br/>"
                           + "<big><b>" + diff.getHours() + "</b></big> Hours &nbsp;"
                           + "<big><b>" + diff.getMinutes() + "</b></big> Minutes &nbsp;"
                           + "<big><b>" + diff.getSeconds() + "</b></big> Seconds");
        {% else if site.lang == "zh" %}
        $('#dyn_time').html("<big><b>" + (diff.getFullYear() - 1970) + "</b></big> 年 &nbsp;"
                    + "<big><b>" + (diff.getMonth()+1) + "</b></big> 月 &nbsp;"
                    + "<big><b>" + diff.getDate() + "</b></big> 天 <br/>"
                    + "<big><b>" + diff.getHours() + "</b></big> 小时 &nbsp;"
                    + "<big><b>" + diff.getMinutes() + "</b></big> 分钟 &nbsp;"
                    + "<big><b>" + diff.getSeconds() + "</b></big> 秒");
        {% endif %}

        setTimeout(tick, 1000 - Date.now() % 1000);
    }

    function arcTween(d) {
        var i = d3.interpolateNumber(d.previousValue, d.value);
        return function(t) { d.value = i(t); return arc(d); };
    }

    function fields() {
        var now = new Date((new Date()) - (new Date(2010,7,16))),
                second = Math.floor((now.getSeconds() + now.getMilliseconds() / 1000)) / 60,
                minute = Math.floor((now.getMinutes() + second)) / 60,
                hour = Math.floor((now.getHours() + minute)) / 24,
                day = Math.floor((now.getDay() + hour)) / 7,
                date = Math.floor((now.getDate() - 1 + hour)) / (32 - new Date(now.getYear(), now.getMonth(), 32).getDate()),
                month = Math.floor((now.getMonth() + date)) / 12,
                year = Math.floor((now.getFullYear() - 1970 + month)) / 10;
        return [
            {value: second, index: .8, text: formatSecond(now)},
            {value: minute, index: .7, text: formatMinute(now)},
            {value: hour,   index: .6, text: formatHour(now)},
            {value: date,   index: .5, text: formatDate(now)},
            {value: month,  index: .4, text: now.getMonth() + 1 +"M"},
            {value: year,   index: .3, text: (year * 10) + "y"}
        ];
    }

    // Avoid shortest-path interpolation.
    function interpolateHsl(a, b) {
        var i = d3.interpolateString(a, b);
        return function(t) {
            return d3.hsl(i(t));
        };
    }
</script>