<div class="intro">
    <h4>站长大人</h4>
    <hr/>
    <p>
        <img class="avatar" src="{{ site.static_url }}/monkey.jpg"/>
        我是邹润阳，曾用或现用的网名有 zry656565、Jerry Zou、蛋蛋哥。欢迎大家来到我的博客。有事请联系我的Email: <a href="mailto:jerry.zry@outlook.com">jerry.zry@outlook.com</a>
    </p>

</div>

<!-- other sites -->
<div class="other-sites">
    <h4>我在别处</h4>
    <hr/>
    <p>你可以在许多其他地方找到我：</p>
    <a href="https://github.com/zry656565"><img class="icon" src="{{ site.static_url }}/github_icon.png" title="Github"/></a>
    <a href="http://segmentfault.com/u/jerryzou"><img class="icon" src="{{ site.static_url }}/sf_icon.png" title="segmentfault" /></a>
    <a href="http://stackoverflow.com/users/3152296/jerryddg"><img class="icon" src="{{ site.static_url }}/stackoverflow_icon.png" title="stackoverflow" /></a>
    <a href="http://www.linkedin.com/profile/view?id=289040657"><img class="icon" src="{{ site.static_url }}/linkedin_icon.png" title="Linkedin" /></a>
    <a href="http://weibo.com/u/1943775181"><img class="icon" src="{{ site.static_url }}/weibo_icon.png" title="微博" /></a>
    <a href="http://www.douban.com/people/jerry_zou/"><img class="icon" src="{{ site.static_url }}/douban_icon.png" title="豆瓣" /></a>
</div>
<!-- end -->

<div>
    <h4>最新评论</h4>
    <!-- 多说最新评论 start -->
    <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="0" data-excerpt-length="30"></div>
    <!-- 多说最新评论 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"jerryzou"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
</div>