<div class="intro">
    <h4>站长</h4>
    <hr/>
    <p>
        <img class="avatar" src="{{ site.static_url }}/monkey.jpg"/>
        我是邹润阳，曾用或现用的网名有 zry656565、Jerry Zou、蛋蛋哥。欢迎大家来到我的博客。<br/>
        本站总计访问量 <span data-hk-site>-</span> 次。
    </p>

</div>

<!-- other sites -->
<div class="other-sites">
    <h4>我在别处</h4>
    <hr/>
    <p>你可以在许多其他地方找到我：</p>
    <a href="https://github.com/zry656565"><img class="icon" src="{{ site.static_url }}/github.svg" title="Github"/></a>
    <a href="https://weibo.com/u/1943775181"><img class="icon" src="{{ site.static_url }}/weibo.svg" title="微博" /></a>
    <a href="https://www.zhihu.com/people/jerryddg"><img class="icon" src="{{ site.static_url }}/zhihu.svg" title="知乎" /></a>
    <a href="https://www.douban.com/people/jerry_zou/"><img class="icon" src="{{ site.static_url }}/douban.svg" title="豆瓣" /></a>
</div>
<!-- end -->

<!--
<div>
    <h4 id="latest-comments">最新评论</h4>
</div>
-->