/* Post styles
 * Header
 *==========================*/
.post-header {
  margin: 10px 0 30px;
}
.post-header h1 {
  font-size: 2em;
  line-height: 1.4;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .post-header h1 {
    font-size: 1.5em;
  }
}
.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}
.post-header .pause {
  padding: 0 5px;
}
.post-header .label {
  display: inline-block;
  margin: 0 0 0 4px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  background: #FFF5DE;
  color: #777;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
}
/* Content
 *==========================*/
.post-content {
  margin: 0 0 30px;
  /* Syntax highlighting styles
   *==========================*/
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-bottom: 0.4em;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.2em;
}
.post-content h1 {
  margin: 2em 0 0;
  font-size: 1.8em;
}
.post-content h2 {
  border-bottom: 1px solid #ccc;
  margin: 1.6em 0 0;
  font-size: 1.6em;
}
.post-content h3 {
  font-size: 1.4em;
}
.post-content blockquote {
  margin: 1.8em 0;
  border-left: 10px solid #D6DBDF;
  padding: 10px 15px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  font-size: 1em;
}
.post-content blockquote p {
  text-indent: 0;
}
.post-content ul,
.post-content ol {
  margin-left: 1.35em;
  padding-left: 20px;
}
.post-content p {
  text-indent: 2em;
}
.post-content img {
  /* img generated by jekyll will wrapped in a <p> element */
  margin: 0.5em 2em 0.5em 0;
  max-width: 90%;
  max-width: calc(100% - 4em);
}
@media screen and (max-width: 600px) {
  .post-content img {
    max-width: 100%;
    margin: 0.5em 0 0.5em -2em;
  }
}
.post-content table {
  margin: 0.7em 0;
}
@media screen and (max-width: 600px) {
  .post-content table {
    display: block;
    border: 0;
    overflow-x: auto;
  }
}
.post-content table,
.post-content td,
.post-content th {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666;
}
.post-content th {
  background: #f1f1f1;
}
.post-content .formula {
  text-align: center;
}
.post-content .highlight {
  margin: 0.8em 2em;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 90%;
  max-width: calc(100% - 4em);
}
@media screen and (max-width: 600px) {
  .post-content .highlight {
    max-width: 100%;
    margin: 0.8em 0;
  }
}
.post-content .highlight pre {
  margin: 0;
  padding: 8px 12px;
  overflow: auto;
  font-size: 12px;
}
.post-content .highlight code {
  padding: 0;
}
.post-content code {
  border: none;
  padding: 0 0.25em;
  color: #c7254e;
}
.post-content pre.terminal {
  background-color: #333;
  color: #FFF;
}
.post-content pre.terminal code {
  background-color: #333;
}
/* Copyright
 *==========================*/
.copyright {
  border: 2px dashed #92b8ea;
  padding: 15px 40px;
  color: #777;
  background: #f1fdfb;
}
@media (max-width: 600px) {
  .copyright {
    padding: 10px 15px;
  }
}
