---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }} <span class="pause"> - </span>
        浏览量：<span id="visit-counter"></span>次<span class="pause"> | </span>
        {% if page.labels %}
            {% for label in page.labels %}
                <a class="label" href="{{ site.baseurl }}/all-articles/?label={{ label }}">{{ label }}</a>
            {% endfor %}
        {% endif %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <p class="copyright">
    本文的版权归作者<a href="mailto:{{ site.email }}">{{ site.owner }}</a>所有，任何人可以进行转载、分享，但不可在未经允许的情况下用于商业用途。<br/>
    转载请注明出处：<a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>。
  </p>

  {% if page.duoshuo_comment %}
    {% include duoshuo.html %}
  {% endif %}
</div>
<script>
    jsonp('http://analytics1.sinaapp.com/page.php', {
        callback: 'jsonp_callback',
        type: 'increment',
        domain: '{{ site.url }}',
        title: '{{ site.title }}',
        url: '{{ page.permalink | prepend: site.url }}'
    });

    function jsonp_callback(result) {
        var visitCounter = document.getElementById('visit-counter');
        visitCounter.innerHTML = result.count;
    }
</script>
